@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 10;
    background-color: rgba(17, 17, 17, 0.9);
    background: #fff;
    border-bottom: 1px solid #eee;
    //-webkit-backface-visibility: hidden;
    }
.header .inner {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
}
.header .inner:first-child {
    z-index: 1;
    min-height: 50px;
}
.header .pagetitle {
    overflow: hidden;
    color: #fff;
    background-color: #222;
}
.header .pagetitle .inner {
    z-index: auto;
    min-height: 0;
}
.header .pagetitle h2 {
    padding-top: 30px;
    padding-bottom: 10px;
}
.header .calc {
    *zoom: 1;
}
.header .calc:before,
.header .calc:after {
    content: " ";
    display: table;
}
.header .calc:after {
    clear: both;
}
.header .logo {
    position: absolute;
    top: 46px;
    left: 40px;
    width: 280px;
    height: 42px;
}
.header .logo img {
    max-width: 100%;
    max-height: 100%;
}
.header .sidenav-toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 2px;
    height: 50px;
    width: 50px;
    font-size: 24px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    color: #0072bc;
    cursor: pointer;
    outline: 0;
}
.header .sidenav-toggle [class*="icon-"] {
    vertical-align: -10%;
}
.disill-editing-active .header .pagetitle {
    padding-top: 24px;
}
.nodetitle {
    display: none;
}
.page-view .pagetitle .calc {
    min-height: 12px;
}
.lt-ie9 .header {
    background: #111;
}
.lt-ie9 .header .logo {
    background-repeat: no-repeat;
    background-image: url("/Content/Template/img/logo-head.png");
}
.lt-ie9 .header .logo img {
    display: none;
}
.lt-ie9 .header.front .logo {
    display: none;
}
.lt-ie8 .header {
    z-index: 1000;
}
.touch .header {
    position: absolute;
}
@media only screen and (max-width: 840px) {
    .header .logo {
        position: absolute;
        top: 13px;
        width: 160px;
        height: 27px;
    }
    .header .navigation .navwrap > ul > li {
        padding-bottom: 0;
    }
}
@media only screen and (max-width: 970px) {
    .header .logo {
        top: 13px;
        width: 160px;
        height: 27px;
        left: 12px;
    }
    .header .sidenav-toggle {
        display: block;
    }
    .pagetitle {
        display: none;
    }
    .nodetitle {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        padding: 0 45px;
        font-size: 0.7em;
        text-align: center;
    }
    .nodetitle h1,
    .nodetitle h2,
    .nodetitle h3,
    .nodetitle h4,
    .nodetitle h5,
    .nodetitle h6 {
        padding: 12px 0;
        margin: 0;
    }
    .front .header .logo,
    .front .header.flip .logo {
        display: block;
        opacity: 1;
    }
    .front .header .logo {
        margin-top: 0;
        display: block;
        opacity: 1;
    }
}
.korea .header {
    background-color: rgba(255, 204, 0, 0.9);
}
.body {
    min-height: 600px;
}
.body > .section:first-child {
    margin-top: -70px;
    padding-top: 70px;
}
.inner {
    *zoom: 1;
    padding: 0px 40px 1px;
    margin: 0 auto;
    max-width: 1480px;
}
.inner:before,
.inner:after {
    content: " ";
    display: table;
}
.inner:after {
    clear: both;
}
.inner.extreme {
    max-width: 1000px;
}
.inner.extra {
    max-width: 1240px;
}
.inner .inner:not(.extreme),
.inner .inner:not(.extra) {
    padding-left: 0;
    padding-right: 0;
}
.inner .inner:not(.extreme):first-of-type:not(:last-of-type),
.inner .inner:not(.extra):first-of-type:not(:last-of-type) {
    padding-bottom: 0;
}
.inner .inner:not(.extreme):last-of-type,
.inner .inner:not(.extra):last-of-type {
    padding-top: 0;
}

.navigation {
    float: right;
    font-size: 12px;
    font-family: "Gotham SSm A", "Gotham SSm B", Arial, tahoma, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}
.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.navigation > ul,
.navigation .navwrap > ul {
    line-height: 90px;
}
.navigation > ul > li,
.navigation .navwrap > ul > li {
    position: relative;
    float: left;
    padding: 0 20px;
}
.navigation > ul > li:first-child,
.navigation .navwrap > ul > li:first-child {
    padding-left: 0;
}
.navigation > ul > li:last-child,
.navigation .navwrap > ul > li:last-child {
    padding-right: 0;
}
.navigation > ul > li > a,
.navigation .navwrap > ul > li > a {
    color: #595a5c;
    text-transform: uppercase;
}
.navigation > ul > li > a:hover,
.navigation .navwrap > ul > li > a:hover,
.navigation > ul > li > a.selected,
.navigation .navwrap > ul > li > a.selected {
    color: #0072bc;
}
.navigation > ul > li:hover ul,
.navigation .navwrap > ul > li:hover ul,
.navigation > ul > li:hover .drp,
.navigation .navwrap > ul > li:hover .drp {
    display: block;
}
.navigation > ul > li:hover > a,
.navigation .navwrap > ul > li:hover > a {
    color: #0072bc;
}
.navigation > ul > li > ul,
.navigation .navwrap > ul > li > ul,
.navigation .drp {
    position: absolute;
    display: none;
    top: 80px;
    padding: 10px 30px 20px;
    margin-top: 10px;
    margin-left: -30px;
    width: 290px;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    background: #0072bc;
}
.navigation > ul > li > ul.open,
.navigation .navwrap > ul > li > ul.open,
.navigation .drp.open {
    display: block;
    z-index: 5;
}
.navigation > ul > li > ul li a,
.navigation .navwrap > ul > li > ul li a,
.navigation .drp li a {
    padding: 8px 0;
    color: #fff;
}
.navigation > ul > li > ul li a:hover,
.navigation .navwrap > ul > li > ul li a:hover,
.navigation .drp li a:hover {
    color: #595a5c;
}
.navigation > ul > li > ul .cutout,
.navigation .navwrap > ul > li > ul .cutout,
.navigation .drp .cutout {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
}
.navigation > ul > li > ul .cutout > div,
.navigation .navwrap > ul > li > ul .cutout > div,
.navigation .drp .cutout > div {
    position: absolute;
    top: 0;
    height: 10px;
    background: #0072bc;
}
.navigation > ul > li > ul .cutout > div:first-child,
.navigation .navwrap > ul > li > ul .cutout > div:first-child,
.navigation .drp .cutout > div:first-child {
    left: 0;
}
.navigation > ul > li > ul .cutout > div:first-child:after,
.navigation .navwrap > ul > li > ul .cutout > div:first-child:after,
.navigation .drp .cutout > div:first-child:after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #0072bc;
}
.navigation > ul > li > ul .cutout > div:last-child,
.navigation .navwrap > ul > li > ul .cutout > div:last-child,
.navigation .drp .cutout > div:last-child {
    right: 0;
}
.navigation > ul > li > ul .cutout > div:last-child:before,
.navigation .navwrap > ul > li > ul .cutout > div:last-child:before,
.navigation .drp .cutout > div:last-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #0072bc transparent;
}
.navigation.global a {
    text-transform: uppercase;
    font-size: 11px;
    font-family: "Gotham SSm A", "Gotham SSm B", Arial, tahoma, sans-serif;
    font-weight: 400;
}
.navigation.global a:hover {
    color: #fff;
}
.navigation.main {
    margin-top: 25px;
}
.navigation.main .navwrap > ul > li:last-child > ul {
    left: auto;
    right: 0;
    margin-right: -30px;
}
.navigation.main .navwrap > ul > li:last-child > ul:before {
    left: auto;
    right: 0;
    margin-right: 7%;
}

@media only screen and (max-width: 970px) {
    .navigation {
        display: none;
    }
    .navigation.global {
        display: none;
    }
}

.navigation.global > ul,
.navigation.global .navwrap > ul {
    line-height: 100px;
}
.navigation.global > ul > li > span,
.navigation.global .navwrap > ul > li > span {
    text-transform: uppercase;
    font-family: "Gotham SSm A", "Gotham SSm B", Arial, tahoma, sans-serif;
    font-weight: normal;
    color: #fff;
    cursor: default;
}
.navigation.global > ul > li > span.country,
.navigation.global .navwrap > ul > li > span.country {
    color: #fff;
}
.navigation.global .drp {
    top: 80px;
    width: 130px;
    margin-left: -80px;
    background: #0072bc;
}
.navigation.global .drp p {
    margin: 0;
    padding: 8px 0;
}
.navigation.global .drp p a {
    color: #111;
}
.navigation.global .drp p a:hover {
    color: #fff;
}

.footer {
    text-transform: uppercase;
    color: #fff;
}
.footer h5 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 0.888888889em;
}
.footer .footer-offices,
.footer .footer-social {
    height: 110px;
}
.footer .footer-social,
.footer .footerRight {
    text-align: right;
}
.footer .footerRight,
.footer .footerLeft {
    font-size: 0.777777778em;
}
.footer .footer-offices .form .dropdown {
    width: 340px;
    background-color: #0072bc;
}
.footer .footer-offices .form .trigger {
    border-top-color: #fff;
}
.footer .footer-social {
    padding-left: 0;
    border-left: none;
    margin-bottom: 20px;
}
.footer .footer-social a {
    text-decoration: none;
}
.footer .footer-social a:hover {
    color: #333;
}
.footer .footer-social a:hover .icon-hexagon {
    color: #333;
}
.footer .footer-social .socialnetwork {
    display: inline-block;
    position: relative;
    height: 98px;
    width: 50px;
}
.footer .footer-social .socialnetwork i {
    position: absolute;
    left: 0px;
    top: 15px;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.666666667em;
    line-height: 70px;
}
.footer .footer-social .socialnetwork .icon-hexagon {
    -webkit-transition: color 200ms;
    -khtml-transition: color 200ms;
    -moz-transition: color 200ms;
    -ms-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
    position: absolute;
    top: 0;
    left: -5px;
    width: 58px;
    color: #fff;
    font-size: 3.055555556em;
}
.footer .footer-social .socialnetwork.linkedin i:not(.icon-hexagon) {
    color: #fff;
    top: 0px !important;
    left: 1px !important;
}
.footer .footer-social .socialnetwork.twitter i:not(.icon-hexagon) {
    color: #fff;
    top: 2px !important;
}
.footer .footer-social .socialnetwork.facebook i:not(.icon-hexagon) {
    color: #fff;
    top: 2px !important;
}
.footer .footerLeft ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}
.footer .footerLeft ul li {
    display: inline;
}
.footer .footerLeft ul li a {
    white-space: nowrap;
}
.footer .footerLeft ul li:not(:last-child) {
    margin-right: 15px;
}
.footer .footerLeft ul li a {
    text-decoration: none;
    color: #fff;
}
.footer .footerRight span {
    white-space: nowrap;
}
@media only screen and (max-width: 720px) {
    .footer:not(.form) {
        text-align: center;
    }
    .footer .footerRight,
    .footer .footer-social {
        text-align: center;
    }
    .footer .footerRight {
        margin-top: 20px;
    }
}
.section.blue {
    background-color: #0072bc;
}
.section.blue blockquote {
    border-color: #fff;
}
.section.blue h1,
.section.blue h2,
.section.blue h3 {
    color: #fff;
}
.section.blue h1.special,
.section.blue h2.special,
.section.blue h3.special {
    color: #fff;
}
.section.blue .centerheader h5,
.section.blue .centerheader .h5 {
    color: #fff;
}
.section.blue p {
    color: #fff;
}
.section.blue a {
    color: #fff;
}
.section.blue a:hover,
.section.blue a:focus {
    color: #333;
}
.section.blue h5.leading:after {
    background: #fff;
}
.section.blue hr {
    color: #fff;
}

.grid {
    *zoom: 1;
}
.grid:before,
.grid:after {
    content: " ";
    display: table;
}
.grid:after {
    clear: both;
}
.grid > .col {
    display: block;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid .col.s10of10 {
    width: 100%;
}
.grid .col.s9of10 {
    width: 90%;
}
.grid .col.s8of10 {
    width: 80%;
}
.grid .col.s7of10 {
    width: 70%;
}
.grid .col.s6of10 {
    width: 60%;
}
.grid .col.s5of10 {
    width: 50%;
}
.grid .col.s4of10 {
    width: 40%;
}
.grid .col.s3of10 {
    width: 30%;
}
.grid .col.s2of10 {
    width: 20%;
}
.grid .col.s1of10 {
    width: 10%;
}
.grid .col.s9of9 {
    width: 100%;
}
.grid .col.s8of9 {
    width: 88.888888889%;
}
.grid .col.s7of9 {
    width: 77.777777778%;
}
.grid .col.s6of9 {
    width: 66.666666667%;
}
.grid .col.s5of9 {
    width: 55.555555556%;
}
.grid .col.s4of9 {
    width: 44.444444444%;
}
.grid .col.s3of9 {
    width: 33.333333333%;
}
.grid .col.s2of9 {
    width: 22.222222222%;
}
.grid .col.s1of9 {
    width: 11.111111111%;
}
.grid .col.s8of8 {
    width: 100%;
}
.grid .col.s7of8 {
    width: 87.5%;
}
.grid .col.s6of8 {
    width: 75%;
}
.grid .col.s5of8 {
    width: 62.5%;
}
.grid .col.s4of8 {
    width: 50%;
}
.grid .col.s3of8 {
    width: 37.5%;
}
.grid .col.s2of8 {
    width: 25%;
}
.grid .col.s1of8 {
    width: 12.5%;
}
.grid .col.s7of7 {
    width: 100%;
}
.grid .col.s6of7 {
    width: 85.714285714%;
}
.grid .col.s5of7 {
    width: 71.428571429%;
}
.grid .col.s4of7 {
    width: 57.142857143%;
}
.grid .col.s3of7 {
    width: 42.857142857%;
}
.grid .col.s2of7 {
    width: 28.571428571%;
}
.grid .col.s1of7 {
    width: 14.285714286%;
}
.grid .col.s6of6 {
    width: 100%;
}
.grid .col.s5of6 {
    width: 83.333333333%;
}
.grid .col.s4of6 {
    width: 66.666666667%;
}
.grid .col.s3of6 {
    width: 50%;
}
.grid .col.s2of6 {
    width: 33.333333333%;
}
.grid .col.s1of6 {
    width: 16.666666667%;
}
.grid .col.s5of5 {
    width: 100%;
}
.grid .col.s4of5 {
    width: 80%;
}
.grid .col.s3of5 {
    width: 60%;
}
.grid .col.s2of5 {
    width: 40%;
}
.grid .col.s1of5 {
    width: 20%;
}
.grid .col.s4of4 {
    width: 100%;
}
.grid .col.s3of4 {
    width: 75%;
}
.grid .col.s2of4 {
    width: 50%;
}
.grid .col.s1of4 {
    width: 25%;
}
.grid .col.s3of3 {
    width: 100%;
}
.grid .col.s2of3 {
    width: 66.666666667%;
}
.grid .col.s1of3 {
    width: 33.333333333%;
}
.grid .col.s2of2 {
    width: 100%;
}
.grid .col.s1of2 {
    width: 50%;
}
.grid .col.s1of1 {
    width: 100%;
}
.grid.gutter {
    margin-left: -20px;
    margin-right: -20px;
}
.grid.gutter > .col {
    padding-left: 20px;
    padding-right: 20px;
}
.grid.gutter.nogutter {
    margin-left: auto;
    margin-right: auto;
}
.grid.gutter.nogutter > .col {
    padding-left: 0;
    padding-right: 0;
}
.grid.tight {
    margin-left: -10px;
    margin-right: -10px;
}
.grid.tight > .col {
    padding-left: 10px;
    padding-right: 10px;
}
.grid.narrow {
    margin-left: -15px;
    margin-right: -15px;
}
.grid.narrow > .col {
    padding-left: 15px;
    padding-right: 15px;
}
.grid.debug > .col {
    background-color: rgba(0, 0, 0, 0.25);
}
.grid.debug > .col:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.15);
}
.grid.reverse > .col,
.grid.mobilereverse > .col {
    float: right;
}
.grid.no-boxsizing .col.s10of10 {
    width: 99%;
}
.grid.no-boxsizing .col.s9of10 {
    width: 89.1%;
}
.grid.no-boxsizing .col.s8of10 {
    width: 79.2%;
}
.grid.no-boxsizing .col.s7of10 {
    width: 69.3%;
}
.grid.no-boxsizing .col.s6of10 {
    width: 59.4%;
}
.grid.no-boxsizing .col.s5of10 {
    width: 49.5%;
}
.grid.no-boxsizing .col.s4of10 {
    width: 39.6%;
}
.grid.no-boxsizing .col.s3of10 {
    width: 29.7%;
}
.grid.no-boxsizing .col.s2of10 {
    width: 19.8%;
}
.grid.no-boxsizing .col.s1of10 {
    width: 9.9%;
}
.grid.no-boxsizing .col.s9of9 {
    width: 99%;
}
.grid.no-boxsizing .col.s8of9 {
    width: 88%;
}
.grid.no-boxsizing .col.s7of9 {
    width: 77%;
}
.grid.no-boxsizing .col.s6of9 {
    width: 66%;
}
.grid.no-boxsizing .col.s5of9 {
    width: 55%;
}
.grid.no-boxsizing .col.s4of9 {
    width: 44%;
}
.grid.no-boxsizing .col.s3of9 {
    width: 33%;
}
.grid.no-boxsizing .col.s2of9 {
    width: 22%;
}
.grid.no-boxsizing .col.s1of9 {
    width: 11%;
}
.grid.no-boxsizing .col.s8of8 {
    width: 99%;
}
.grid.no-boxsizing .col.s7of8 {
    width: 86.625%;
}
.grid.no-boxsizing .col.s6of8 {
    width: 74.25%;
}
.grid.no-boxsizing .col.s5of8 {
    width: 61.875%;
}
.grid.no-boxsizing .col.s4of8 {
    width: 49.5%;
}
.grid.no-boxsizing .col.s3of8 {
    width: 37.125%;
}
.grid.no-boxsizing .col.s2of8 {
    width: 24.75%;
}
.grid.no-boxsizing .col.s1of8 {
    width: 12.375%;
}
.grid.no-boxsizing .col.s7of7 {
    width: 99%;
}
.grid.no-boxsizing .col.s6of7 {
    width: 84.857142857%;
}
.grid.no-boxsizing .col.s5of7 {
    width: 70.714285714%;
}
.grid.no-boxsizing .col.s4of7 {
    width: 56.571428571%;
}
.grid.no-boxsizing .col.s3of7 {
    width: 42.428571429%;
}
.grid.no-boxsizing .col.s2of7 {
    width: 28.285714286%;
}
.grid.no-boxsizing .col.s1of7 {
    width: 14.142857143%;
}
.grid.no-boxsizing .col.s6of6 {
    width: 99%;
}
.grid.no-boxsizing .col.s5of6 {
    width: 82.5%;
}
.grid.no-boxsizing .col.s4of6 {
    width: 66%;
}
.grid.no-boxsizing .col.s3of6 {
    width: 49.5%;
}
.grid.no-boxsizing .col.s2of6 {
    width: 33%;
}
.grid.no-boxsizing .col.s1of6 {
    width: 16.5%;
}
.grid.no-boxsizing .col.s5of5 {
    width: 99%;
}
.grid.no-boxsizing .col.s4of5 {
    width: 79.2%;
}
.grid.no-boxsizing .col.s3of5 {
    width: 59.4%;
}
.grid.no-boxsizing .col.s2of5 {
    width: 39.6%;
}
.grid.no-boxsizing .col.s1of5 {
    width: 19.8%;
}
.grid.no-boxsizing .col.s4of4 {
    width: 99%;
}
.grid.no-boxsizing .col.s3of4 {
    width: 74.25%;
}
.grid.no-boxsizing .col.s2of4 {
    width: 49.5%;
}
.grid.no-boxsizing .col.s1of4 {
    width: 24.75%;
}
.grid.no-boxsizing .col.s3of3 {
    width: 99%;
}
.grid.no-boxsizing .col.s2of3 {
    width: 66%;
}
.grid.no-boxsizing .col.s1of3 {
    width: 33%;
}
.grid.no-boxsizing .col.s2of2 {
    width: 99%;
}
.grid.no-boxsizing .col.s1of2 {
    width: 49.5%;
}
.grid.no-boxsizing .col.s1of1 {
    width: 99%;
}
.grid.no-boxsizing.gutter > .col {
    padding-left: 0;
    padding-right: 0;
}
.grid.no-boxsizing.gutter > .col > .padbox {
    padding-left: 20px;
    padding-right: 20px;
}
.grid.no-boxsizing.tight > .col {
    padding-left: 0;
    padding-right: 0;
}
.grid.no-boxsizing.tight > .col > .padbox {
    padding-left: 10px;
    padding-right: 10px;
}
.grid.no-boxsizing.narrow > .col {
    padding-left: 0;
    padding-right: 0;
}
.grid.no-boxsizing.narrow > .col > .padbox {
    padding-left: 15px;
    padding-right: 15px;
}
@media only screen and (max-width: 1200px) {
    .grid.collapsehalf1200 > .col {
        width: 50%;
    }
}
@media only screen and (max-width: 1200px) {
    .grid.collapse1200 > .col {
        float: none;
        width: 100%;
    }
}
@media only screen and (min-width: 1200px) {
    .grid.expand1200 > .col {
        float: none;
        width: 100%;
    }
}
.lt-ie9 .grid.expand1200 > .col {
    float: none;
    width: 100%;
}
@media only screen and (max-width: 1080px) {
    .grid.collapsehalf1080 > .col {
        width: 50%;
    }
}
@media only screen and (max-width: 1080px) {
    .grid.collapse1080 > .col {
        float: none;
        width: 100%;
    }
}
@media only screen and (min-width: 1080px) {
    .grid.expand1080 > .col {
        float: none;
        width: 100%;
    }
}
.lt-ie9 .grid.expand1080 > .col {
    float: none;
    width: 100%;
}
@media only screen and (max-width: 960px) {
    .grid.collapsehalf960 > .col {
        width: 50%;
    }
}
@media only screen and (max-width: 960px) {
    .grid.collapse960 > .col {
        float: none;
        width: 100%;
    }
}
@media only screen and (min-width: 960px) {
    .grid.expand960 > .col {
        float: none;
        width: 100%;
    }
}
.lt-ie9 .grid.expand960 > .col {
    float: none;
    width: 100%;
}
@media only screen and (max-width: 840px) {
    .grid.collapsehalf840 > .col {
        width: 50%;
    }
}
@media only screen and (max-width: 840px) {
    .grid.collapse840 > .col {
        float: none;
        width: 100%;
    }
}
@media only screen and (min-width: 840px) {
    .grid.expand840 > .col {
        float: none;
        width: 100%;
    }
}
.lt-ie9 .grid.expand840 > .col {
    float: none;
    width: 100%;
}
@media only screen and (max-width: 720px) {
    .grid.collapsehalf720 > .col {
        width: 50%;
    }
}
@media only screen and (max-width: 720px) {
    .grid.collapse720 > .col {
        float: none;
        width: 100%;
    }
}
@media only screen and (min-width: 720px) {
    .grid.expand720 > .col {
        float: none;
        width: 100%;
    }
}
.lt-ie9 .grid.expand720 > .col {
    float: none;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .grid.collapsehalf600 > .col {
        width: 50%;
    }
}
@media only screen and (max-width: 600px) {
    .grid.collapse600 > .col {
        float: none;
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    .grid.expand600 > .col {
        float: none;
        width: 100%;
    }
}
.lt-ie9 .grid.expand600 > .col {
    float: none;
    width: 100%;
}
@media only screen and (max-width: 480px) {
    .grid.collapsehalf480 > .col {
        width: 50%;
    }
}
@media only screen and (max-width: 480px) {
    .grid.collapse480 > .col {
        float: none;
        width: 100%;
    }
}
@media only screen and (min-width: 480px) {
    .grid.expand480 > .col {
        float: none;
        width: 100%;
    }
}
.lt-ie9 .grid.expand480 > .col {
    float: none;
    width: 100%;
}
@media only screen and (max-width: 360px) {
    .grid.collapsehalf360 > .col {
        width: 50%;
    }
}
@media only screen and (max-width: 360px) {
    .grid.collapse360 > .col {
        float: none;
        width: 100%;
    }
}
@media only screen and (min-width: 360px) {
    .grid.expand360 > .col {
        float: none;
        width: 100%;
    }
}
.lt-ie9 .grid.expand360 > .col {
    float: none;
    width: 100%;
}
@media only screen and (min-width: 1080px) {
    .grid.gutter {
        margin-left: -40px;
        margin-right: -40px;
    }
    .grid.gutter > .col {
        padding-left: 40px;
        padding-right: 40px;
    }
    .grid.gutter.nogutter {
        margin-left: auto;
        margin-right: auto;
    }
    .grid.gutter.nogutter > .col {
        padding-left: 0;
        padding-right: 0;
    }
    .grid.gutter.tight {
        margin-left: -20px;
        margin-right: -20px;
    }
    .grid.gutter.tight > .col {
        padding-left: 20px;
        padding-right: 20px;
    }
    .grid.gutter.tight.nogutter {
        margin-left: auto;
        margin-right: auto;
    }
    .grid.gutter.tight.nogutter > .col {
        padding-left: 0;
        padding-right: 0;
    }
    .grid.gutter.narrow {
        margin-left: -30px;
        margin-right: -30px;
    }
    .grid.gutter.narrow > .col {
        padding-left: 30px;
        padding-right: 30px;
    }
    .grid.gutter.narrow.nogutter {
        margin-left: auto;
        margin-right: auto;
    }
    .grid.gutter.narrow.nogutter > .col {
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (max-width: 720px) {
    .grid .col.variable321 {
        width: 50%;
    }
}
@media only screen and (max-width: 480px) {
    .grid .col.variable321 {
        width: 100%;
    }
}